* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

:root {
  --primary-background: #141d2f;
  --hover-mode: #90a4d4;
  --dark-light: white;
  --secondary-background: #1e2a47;
  --passive-blue: #0079ff;
  --active-blue: #60abff;
  --text-blue: white;
  --error-red: #f74646;
}

.light-theme {
  --primary-background: #f6f8ff;
  --hover-mode: #222731;
  --dark-light: #697c9a;
  --paragraph-color: #2b3442;
  --text-blue: #4b6a9b;
  color: var(--text-blue);
}

.light-theme #mode {
  visibility: hidden;
  content: 'dark';
}

.light-theme #mode::after {
  visibility: visible;
  content: 'dark';
}

.light-theme h1 {
  color: var(--hover-mode);
}

.light-theme .card {
  -webkit-box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
          box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  background-color: var(--primary-background);
}

.light-theme .card .stats {
  background-color: var(--primary-background);
}

.light-theme .card .stats section p {
  color: var(--paragraph-color);
}

.light-theme .form {
  -webkit-box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
          box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  background-color: var(--primary-background);
}

.light-theme .form input {
  background-color: var(--primary-background);
}

.light-theme .form input::-webkit-input-placeholder {
  color: var(--text-blue);
}

.light-theme .form input:-ms-input-placeholder {
  color: var(--text-blue);
}

.light-theme .form input::-ms-input-placeholder {
  color: var(--text-blue);
}

.light-theme .form input::placeholder {
  color: var(--text-blue);
}

.light-theme .card .socials {
  color: var(--text-blue);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primary-background);
  color: white;
  width: 100vw;
  height: 100vh;
}

body p {
  font-weight: 400;
}

body header {
  margin-top: 31px;
  margin-bottom: 35px;
  width: 327px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 600px) {
  body header {
    width: 573px;
    margin-top: 140px;
    margin-bottom: 35px;
  }
}

@media (min-width: 800px) {
  body header {
    width: 730px;
    margin-top: 144px;
  }
}

body header h1 {
  font-size: 26px;
  font-weight: bold;
}

body header .mode {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .mode:hover span {
  color: var(--hover-mode);
}

body header .mode:hover svg path {
  fill: var(--hover-mode);
}

body header .mode span {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: var(--dark-light);
}

body header .mode .sun {
  display: inline-block;
}

body header .mode .moon {
  display: none;
}

body header .mode svg {
  margin-left: 16px;
}

body main {
  width: 327px;
}

@media (min-width: 600px) {
  body main {
    width: 573px;
  }
}

@media (min-width: 800px) {
  body main {
    width: 730px;
  }
}

body main .form {
  position: relative;
  margin-bottom: 16px;
  height: 60px;
  border-radius: 15px;
  border: none;
  background-color: var(--secondary-background);
}

@media (min-width: 600px) {
  body main .form {
    height: 69px;
    margin-bottom: 24px;
  }
}

body main .form #error {
  position: absolute;
  display: none;
  color: var(--error-red);
  font-size: 13px;
  word-spacing: 1px;
  right: 120px;
  top: 21.5px;
}

@media (min-width: 600px) {
  body main .form #error {
    font-size: 18px;
    display: inline-block;
    visibility: hidden;
  }
}

@media (min-width: 800px) {
  body main .form #error {
    right: 140px;
    font-size: 18px;
  }
}

body main .form #submit {
  cursor: pointer;
  position: absolute;
  background-color: var(--passive-blue);
  border: none;
  color: white;
  width: 84px;
  height: 46px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  right: 7px;
  top: 6.5px;
}

body main .form #submit:hover {
  background-color: var(--active-blue);
}

@media (min-width: 600px) {
  body main .form #submit {
    top: 9.5px;
    width: 106px;
    height: 50px;
    font-size: 16px;
  }
}

body main .form input {
  color: var(--dark-light);
  cursor: pointer;
  outline: none;
  padding-left: 45px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: var(--secondary-background);
  border: none;
  font-size: 13px;
}

@media (min-width: 600px) {
  body main .form input {
    padding-left: 80px;
    font-size: 18px;
  }
}

body main .form input::-webkit-input-placeholder {
  color: white;
  font-size: 13px;
  line-height: 25px;
}

body main .form input:-ms-input-placeholder {
  color: white;
  font-size: 13px;
  line-height: 25px;
}

body main .form input::-ms-input-placeholder {
  color: white;
  font-size: 13px;
  line-height: 25px;
}

body main .form input::placeholder {
  color: white;
  font-size: 13px;
  line-height: 25px;
}

@media (min-width: 600px) {
  body main .form input::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 400;
  }
  body main .form input:-ms-input-placeholder {
    font-size: 18px;
    font-weight: 400;
  }
  body main .form input::-ms-input-placeholder {
    font-size: 18px;
    font-weight: 400;
  }
  body main .form input::placeholder {
    font-size: 18px;
    font-weight: 400;
  }
}

body main .form img {
  margin-top: 20px;
  position: absolute;
  margin-left: 16px;
  height: 20px;
  width: 20.05px;
}

@media (min-width: 600px) {
  body main .form img {
    margin-left: 32px;
    margin-top: 23px;
    height: 24px;
    width: 24.06px;
  }
}

body main .card {
  background-color: var(--secondary-background);
  border-radius: 15px;
  padding: 24px;
}

@media (min-width: 600px) {
  body main .card {
    padding: 40px;
  }
}

@media (min-width: 800px) {
  body main .card {
    padding: 48px;
    position: relative;
  }
}

body main .card .profile {
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  body main .card .profile {
    margin-bottom: 20px;
  }
}

body main .card .profile img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

@media (min-width: 600px) {
  body main .card .profile img {
    width: 117px;
    height: 117px;
  }
}

@media (min-width: 800px) {
  body main .card .profile img {
    position: absolute;
    top: 48px;
    left: 48px;
  }
}

body main .card .profile .profile-wrapper {
  margin-left: 19.5px;
}

@media (min-width: 600px) {
  body main .card .profile .profile-wrapper {
    margin-left: 41px;
  }
}

@media (min-width: 800px) {
  body main .card .profile .profile-wrapper {
    margin-left: 154px;
  }
}

body main .card .profile .profile-wrapper h1 {
  font-size: 16px;
  word-spacing: 1px;
}

@media (min-width: 600px) {
  body main .card .profile .profile-wrapper h1 {
    font-size: 26px;
  }
}

body main .card .profile .profile-wrapper .user {
  color: var(--passive-blue);
  font-size: 13px;
  margin-bottom: 6px;
}

@media (min-width: 600px) {
  body main .card .profile .profile-wrapper .user {
    font-size: 16px;
  }
}

body main .card .profile .profile-wrapper .date {
  font-size: 13px;
}

@media (min-width: 600px) {
  body main .card .profile .profile-wrapper .date {
    font-size: 15px;
    font-weight: 300;
  }
}

@media (min-width: 800px) {
  body main .card .profile .profile-wrapper .date {
    position: absolute;
    top: 52px;
    left: 516px;
  }
}

body main .card .bio {
  margin-bottom: 23px;
}

@media (min-width: 800px) {
  body main .card .bio {
    margin-left: 154px;
    margin-bottom: 32px;
  }
}

body main .card .bio p {
  font-size: 13px;
  line-height: 25px;
  font-weight: 300;
}

@media (min-width: 600px) {
  body main .card .bio p {
    font-size: 15px;
  }
}

body main .card .stats {
  margin-bottom: 24px;
  text-align: center;
  padding-left: 15px;
  background-color: var(--primary-background);
  height: 85px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  body main .card .stats {
    margin-left: 154px;
    margin-bottom: 37px;
  }
}

body main .card .stats h4 {
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 11px;
}

body main .card .stats p {
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 600px) {
  body main .card .stats {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 32px;
    text-align: start;
  }
  body main .card .stats section {
    margin-right: 99px;
  }
  body main .card .stats h4 {
    font-size: 13px;
  }
  body main .card .stats p {
    font-size: 22px;
  }
}

body main .card .socials {
  margin-bottom: 13px;
}

@media (min-width: 600px) {
  body main .card .socials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 0px;
  }
}

@media (min-width: 800px) {
  body main .card .socials {
    margin-left: 154px;
  }
}

body main .card .socials section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .card .socials section a {
  margin-left: 15px;
  text-decoration: none;
  color: var(--text-blue);
}

body main .card .socials section #location {
  margin-left: 21.25px;
}

body main .card .socials section .underline:hover {
  text-decoration: underline;
}

body main .card .socials section svg path {
  fill: var(--dark-light);
}

body main .card .socials section .notAvailable {
  opacity: 0.5;
}

body main .card .socials section .notAvailable:hover {
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */